body {
    min-height: 100vh;
}

.bg-navbar-transparency {
    background: linear-gradient(0deg, rgba(33, 112, 128, 0.2) 0%, rgba(33, 112, 128, 0.7) 50%, rgba(33, 112, 128, 0.8) 100%)
  }

.bg-body-gradient{
    background: rgb(2,1,25);
    background: linear-gradient(0deg, rgba(2,1,25,1) 0%, rgba(12,61,75,1) 50%, rgba(164,238,228,1) 100%);
}

.btn-mainpage{
    position: relative;
    overflow: hidden;
    width: 25rem;
    padding: 1.5em 0;
    text-align: center;
    margin: 2em 2em;
    border-radius: 20px;
    font-size: 2em;
    font-weight: bold;
    border: 5px solid rgb(33, 110, 94);
    background: rgb(53, 163, 141);
}

.btn-mainpage:hover{
    background: rgb(33, 110, 94);
    scale: 105%;
}

.fs-2{
    scale: 0.8;
}

.btn-mainpage:active{
    border: 5px solid rgb(15, 49, 42);
    background: rgb(15, 49, 42);
}

.navbar-brand:hover{
    scale: 105%;
}

.nav-item:hover{
    scale: 105%;
}

.full-height{
    height: 100vh;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    margin-top: -5rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
  }
  
  .column {
    flex: 33%;
    max-width: 33%;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .thumbnail-container {
    position: flex;
    box-sizing: border-box;
    overflow: hidden; /* Hide overflowing content within the container */
}

.thumbnail {
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    max-height: 100%; /* Ensure images maintain their aspect ratio */
}

.thumbnail img {
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    max-height: 100%; /* Ensure images maintain their aspect ratio */
}

.thumbnail:hover {
    transform: scale(1.1);
}

/* Style the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 15;
    padding-top: 10vh; /* Padding as a percentage of viewport height */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}

.modal-content {
    object-fit: contain;
    margin: auto;
    display: block;
    max-width: 50vw; /* Set maximum width as a percentage of viewport width */
    max-height: 80vh; /* Set maximum height as a percentage of viewport height */
    background-color: #00000000;
    border-color: #00000000;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #363636;
    text-decoration: none;
    cursor: pointer;
}


.widget
{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.widget  img
{
    height: 20rem;
    width: 20rem;
}
.widget  img:hover
{
    transform: scale(1.1);
}