body {
    min-height: 100vh;
    font-family:Verdana, Tahoma, sans-serif;
}

p{
    font-weight: bold;
}

.container-text{
    padding-bottom: 15rem;
}

.bg-navbar-transparency {
    background: rgba(40, 175, 176, 0.6);
    backdrop-filter: blur(6px);
  }

.bg-body-gradient{
    background: rgb(2,1,25);
    background: linear-gradient(0deg, #284F56 0%, #19647E 50%, #19647E 100%);
}

.blocksatz{
    margin: auto;
	text-align: justify;
    text-align-last: center;
    
    width: 50vw;

}

.text-off-white {
    color: #f8f9faaf;
}


.btn-mainpage{
    position: relative;
    overflow: hidden;
    min-width: 25rem;
    padding: 1.5em 0;
    text-align: center;
    margin: 2em 2em;
    border-radius: 20px;
    font-size: 2em;
    font-weight: bold;
    border: 5px solid #28AFB0;
    background: #28AFB0;
}

.btn-mainpage:hover{
    background: rgba(255,255,255,0.1);
    scale: 105%;
}

.fs-2{
    scale: 0.8;
}

.btn-mainpage:active{
    border: 5px solid rgb(15, 49, 42);
    background: rgb(15, 49, 42);
}

.navbar-nav .nav-link {
    white-space: nowrap;
}

.navbar-brand:hover{
    scale: 103%;
}

.nav-item:hover{
    scale: 103%;
}

.full-height{
    height: 100vh;
    align-items: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    margin-top: -5rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
  }
  
  .column {
    flex: 33%;
    max-width: 33%;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .thumbnail-container {
    position: flex;
    box-sizing: border-box;
    overflow: hidden; /* Hide overflowing content within the container */
}

.thumbnail {
    cursor: pointer;
    transition: transform 0.2s;
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    max-height: 100%; /* Ensure images maintain their aspect ratio */
}

.thumbnail img {
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    max-height: 100%; /* Ensure images maintain their aspect ratio */
}

.thumbnail:hover {
    transform: scale(1.1);
}

/* Style the modal */
.modal {
    overflow: hidden;
    display: none;
    position: fixed;
    z-index: 15;
    padding-top: 5vh; /* Padding as a percentage of viewport height */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#enlarged-image {
    /* Set initial transition values for smooth zoom */
    transition: transform 0.5s ease-in-out;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
  }

.modal-content {
    object-fit: contain;
    margin: auto;
    display: block;
    max-width: 50vw; /* Set maximum width as a percentage of viewport width */
    max-height: 80vh; /* Set maximum height as a percentage of viewport height */
    background-color: #00000000;
    border-color: #00000000;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2em;
    font-weight: bold;
    color: #000000;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #363636;
    text-decoration: none;
    cursor: pointer;
}


.widget
{
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.widget  img
{
    height: 20rem;
    width: 20rem;
}
.widget  img:hover
{
    transform: scale(1.1);
}

.custom-modal {
    border-radius: 10%;
    text-align: center;
    align-items: center;
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    padding: 10px;
    background: rgba(33, 112, 128, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    border-radius: 10px;
}

.modal-image {
    position: fixed;
    bottom: 10px;
    width: 7.5%;
    height: auto;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.modal-image:hover {
    scale: 1.05;
}

.modal-image.show {
    opacity: 1;
}

.event-image{
    overflow: hidden;
}

.card{  
    background: rgb(80, 164, 147);
    border: 5px solid rgb(33, 110, 94);
    border-radius: 2rem;   
}
.event-item{
    background: rgb(80, 164, 147);
    border: 5px solid rgb(33, 110, 94);
}

.event-entry{
    background: rgba(179, 215, 208, 0.5);
    border-radius: 1rem; 
    padding: 0.5rem;
}

.event-button{
    position: relative;
    overflow: hidden;
    font-weight: bold;
    border: none;
    background: rgb(53, 163, 141);
}

.event-button:hover{
    background: rgb(33, 110, 94);
    scale: 101%;
}
